<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agricultural Platform</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body style='background-image: url("{{ url_for("static", filename="images/cover2.jpg") }}"); background-size: cover; background-position: center;' class="welcome-page">
    <div class="overlay"></div> <!-- Semi-transparent overlay -->

    <div class="content-overlay">
        <nav class="welcome-nav">
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
            </ul>
            <!-- Badge centered -->
            <div class="badge">
                <img src="{{ url_for('static', filename='images/badge.jpg') }}" alt="New Badge" />
            </div>
        </nav>

        {% block content %}
            <div class="container mt-15 pt-15">
                <header class="hero-section">
                    <div class="container mt-15 pt-15">
                        <h1>Welcome to the Agricultural Platform</h1>
                        <p>Connect with other farmers, explore crop markets, and engage in community discussions.</p>
                        {% if not current_user.is_authenticated %}
                            <a href="{{ url_for('register') }}" class="button">Join Now</a>
                            <a href="{{ url_for('login') }}" class="button">Login</a>
                        {% endif %}
                        <section class="about-section">
                            <h1>Our Mission</h1>
                            <div class="container">
                                <p>Our mission is to empower farmers by providing them with the tools to connect, share knowledge, and trade crops. Whether you're a seasoned farmer or just starting, our platform offers a space for you to grow and thrive.</p>
                            </div>
                        </section>
                    </div>
                </header>
            </div>

        {% endblock %}
    </div>
    <div>
        <!-- Footer -->
        {% if show_footer %}
        <footer>
            <div class="container">
                <p>&copy; 2024 AgroConnect. All Rights Reserved.</p>
            </div>
        </footer>
        {% endif %}
    </div>
</body>
</html>
