{% extends "layout.html" %}
{% block content %}
    {% for post in posts.items %}
    <div class="mt-5 pt-5">  
        <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ url_for('static', filename='images/' + (post.author.image_file if post.author.image_file else 'profile_pic.jpg')) }}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{{ url_for('account', username=post.author.username) }}"><h4>{{ post.author.username }}</h4></a>
              <small class="text-muted"><h5>{{ post.date_posted.strftime('%Y-%m-%d') }}</h5></small>
            </div>
            <h2><a class="article-title" href="{{ url_for('post_detail',post_id=post.id, username=post.author.username) }}"><h3>{{ post.title }}</h3></a></h2>
            <p class="article-content">{{ post.content }}</p>
          </div>
        </article>
        {% endfor %}
        {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
            {% if page_num %}
              {% if posts.page == page_num %}
                <a class="btn btn-info mb-4" href="{{ url_for('home', page=page_num) }}">{{ page_num }}</a>
              {% else %}
              <a class="btn btn-outline-info mb-4" href="{{ url_for('home', page=page_num) }}">{{ page_num }}</a>
              {% endif %}
            {% else %}
              ...
            {% endif %}
        {% endfor %}
    </div>
{% endblock content %}