{% extends "layout.html" %}
{% block content %}
<div class="mt-5 pt-5">
    <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ url_for('static', filename='images/' + (post.author.image_file if post.author.image_file else 'profile_pic.jpg')) }}">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="{{ url_for('account', username=post.author.username) }}">
                    <h4>{{ post.author.username }}</h4>
                </a>
                <small class="text-muted">
                    <h5>{{ post.date_posted.strftime('%Y-%m-%d') }}</h5>
                </small>
                {% if post.author == current_user %}
                  <div>
                      <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('update_post', post_id=post.id) }}">Update</a>
                      <!-- Button to trigger modal -->
                      <a href="{{ url_for('delete_post', post_id=post.id) }}" class="btn btn-danger btn-sm mt-1 mb-1" data-toggle="modal" data-target="#deleteModal">Delete</a>
                  </div>
                {% endif %}
            </div>
            <h2 class="article-title">{{ post.title }}</h2>
            <p class="article-content">{{ post.content }}</p>
        </div>
    </article>

    <!-- Modal for deleting the post -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Delete Post</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete this post?</p> <!-- Confirmation message -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <form action="{{ url_for('delete_post', post_id=post.id) }}" method="POST" onsubmit="return confirm('Are you sure you want to delete this post?');">
                        <input class="btn btn-danger" type="submit" value="Delete">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
